* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

/* ------ HEADER ------ */
header {
  background-color: #1E2B3D;
}

h1 {
  /* make the text uppercase */
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, .intro, footer{
  text-align: center;
}

h1, h2 {
  /* increase the font size */
  font-size: 120%;
}

h2 {
  margin-bottom: 10px;
  margin-top: 20px;
}

.intro p {
  padding-bottom: 40px;
  /* add double border bottom to the element */
  border-bottom: double #2e3846 8px;
}

.intro p, footer p {
  color: #C2C2C2;
}

fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

form {
  background-color: #F2F2F2;
  box-shadow: 0 0 25px 10px #F2F2F2;
}

label {
    color: #94979C;
}

label, .intro p {
  font-size: 90%;
}

.contact-info label:not([id$="news"]) {
  display: block;
  margin-bottom: 10px;
}

.contact-info input, select {
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  transition: background-color .5s ease;
}

::placeholder {
  font-size: 70%;
  text-align: right;
  font-style: italic;
  color: #C2C2C2;
}

/* target all the inputs apart from an input that has zip id */
.contact-info input:not([id='zip']), select {
  width: 100%;
}

input[id="zip"]{
  width: 50%;
}

.contact-info input, select {
  height: 45px;
  padding: 5px 10px;
}

.contact-info {
  /* add a border bottom to the element */
  border-bottom: solid #2e3846 2px;
}

select {
  font-size: 85%;
  color: #C2C2C2;
}

/* ------------ NEWSLETTER ------------- */
.newsletters .info {
  display: block;
  margin-bottom: 15px;
}

.newsletters label:not([class="info"]) {
  display: inline-block;
  width: 90%;
  margin-bottom: 20px;
}

.newsletters input[type="checkbox"],
.newsletters input[type="radio"]{
    display: inline-block;
    width: 5%;
    margin-right: 8px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  transition: background-color .5s ease;
}

button {
    /* set its size */
    width: 100%;
    height: 60px;
    /* set the background color */
    background-color: #4ebbb5;
    /* set text color */
    color: #fff;
    /* remove border */
    border: 0;
    /* make the font thicker */
    font-weight: 700;
    /* add some space to the bottom of the button */
    margin-top: 15px;
    /* make the corder smoother */
    border-radius: 3px;
}

footer p {
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 90%;
  font-style: italic;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover {
    /* change bacground color on hover */
    background-color: #d2e6c8;
    /* add a border */
    border:2px solid #F0DDDD;
}

input:focus,
select:focus,
textarea:focus {
    /* remove outline */
    outline: none !important;
    /* add a border */
    border:2px solid #F0DDDD;
    /* keep all the text to the left */
    text-align: left;
    /* set the color of the text inside the focus window */
    color: #94979C;
    /* set background color */
    background-color: #E8D3D3;
    /* animate the background color and the border */
    transition: background-color .2s ease, border .35s ease;
}

option {
  color: #94979C;
}

/* ----------- MEDIA QUERIES ---------- */
@media (min-width: 768px){
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  .intro h2 {
    margin-top: 30px;
    padding-top: 10px;
    font-size: 150%;
  }

  .intro p {
    margin-bottom: 15px;
  }

  form {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .contact-info input:not([id='zip']), select {
    width: 74%;
    display: inline-block;
  }

  .contact-info label:not([id$="news"]) {
    width: 25%;
    display: inline-block;
  }

  input[id="zip"] {
    width: 30%;
  }

  footer p {
    margin-bottom: 200px;
    margin-top: 35px;
  }

  button {
    transition: background-color .5s ease;
  }

  button:hover {
    background-color: rgba(0, 0, 0, .4);
  }
}
