* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
  padding: 15px;
}

/* ------ HEADER ------ */
header {
  background-color: #1E2B3D;
}

h1 {
  /* make the text uppercase */
  text-transform: uppercase;
  color: #fff;

}

h1, .intro {
  text-align: center;
}

h1, h2 {
  /* increase the font size */
  font-size: 120%;
}

fieldset {
  border: none;
}

label, .intro p {
  color: #94979C;
  font-size: 90%;
}

label[for="zip"] {
  display: block;
}

input[id="zip"]{
  width: 50%;
}

input, select {
  width: 100%;
  height: 45px;
  padding: 5px 10px;
}
